venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pt
*.bin
*.zip
*.log
*.tmp
*.bak
*.swp
.ipynb_checkpoints/
.vscode/
.idea/

models/
stl10_binary/
stl/
errors.txt
frontend/node_modules/
runs/
.na_project.json
